.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20opx;
    overflow-x: scroll;
    overflow-y: hidden;
    
}
.posters::-webkit-scrollbar{
display: none;
}


.poster{
    margin-top: 10px;
    width: 239px;
    max-height: 129px;
    margin-right: 10px;
    cursor: pointer;
}

.poster:hover{

}

.textt{
    font-size: 1.4rem;
    color: #e5e5e5;
    font-weight: 700;
}